body {
  background-color: white;
}

button {
  color: white;
  background-color: #39b7dd;
  border: 0px;
}

#answer {
  /* height: ; */
  /* border: 6px solid rgba(9, 156, 167, 0.432); */
  background: #202c6699;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
#answer #header {
  background-color: #202c6699;
  height: 12vh;
  text-align: center;
}
#answer #header h1 {
  font-size: 18px;
}

.profileImg {
  width: auto;
  height: 77%;
  border-radius: 50%;
  margin-left: 11%;
  margin-top: 1%;
}

.profileUsername {
  margin-top: 1.5%;
  margin-left: 2%;
}

#answer #footer {
  display: inline-block;
  height: 10vh;
  background-color: #202c6699;
}
#answer #left {
  align-items: center;
  background-color: #202c6699;
  width: 10%;
}
#answer #middle {
  border: 2px solid blue;
  width: 75%;
  height: 20vh;
  color: white;
  background-color: #202c6699;
}
#answer #right {
  background-color: #202c6699;
  width: 15%;
}

#left img {
  width: 22%;
  margin-left: 30%;
}

.editButton {
  width: 100%;
  margin-top: 52%;
}

.removeButton {
  margin-top: 3%;
  width: 100%;
}
#answer #header #options .dropdown-toggle::after {
  display: none;
}

#answer #header #options .btn {
  border: none !important;
  background-color: #39b7dd00 !important;
  border-radius: 0px;
  padding-right: 0px;
}
#answer #header #options .btn:hover {
  color: cornflowerblue;
  border: none !important;
}
#answer #header #options .btn:focus {
  box-shadow: none !important;
}

.moreOptionsImg {
  position: absolute;
  position: absolute;
  width: 100%;
  margin-left: -71%;
  margin-top: -96%;
}

.moreOptionsImg:hover {
  background-color: #65a1c970;
}

.voteCount {
  margin-left: 36%;
  font-size: 18px;
}

.negativeVoteImg {
  cursor: pointer;
}

.positiveVoteImg {
  margin-top: 10%;

  cursor: pointer;
}

.checkMarkImg {
  margin-top: 8%;
}

.date {
  margin-top: 40%;
  margin-left: -59%;
}

.trueAnswer {
  margin-top: 0%;
  margin-left: 0.5%;
}

.trueAnswer button {
  width: 90%;
}

.trueAnswer label {
  margin-left: 5%;
}
