button {
  color: white;
  background-color: #39b7dd;
  border: 0px;
}

.Setting-bg {
  height: 100vh;
  width: 100vw;
  background-image: url("../../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.empty-125 {
  width: 12.5%;
  background-color: #00000070;
}

.infoImg {
  width: 7% !important;
}

.infoImg img {
  border-radius: 50%;
  width: 70%;
  margin-left: 15%;
}

.infoElements {
  padding-top: 1%;
}

.infoBox {
  background-color: #050a43;
  height: 10%;
}

.userInfo {
}

.buttons {
  margin-left: 72%;
}

.buttons button {
  height: 3vh;
  width: 120%;
}

.answerButton {
}

.LinkButtons {
  margin-top: 10%;
}
.question {
  border: 2px solid blue;
  min-height: 20%;
}

.clearFix {
  height: 5%;
}

.abed-add-scroll-active {
  overflow-y: auto;
  height: calc(96vh - 55px);
}
