button {
  color: white;
  background-color: #39b7dd;
  border: 0px;
}

.Setting-bg {
  height: 100vh;
  width: 100vw;
  background-image: url("../../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.empty-125 {
  width: 12.5%;
  background-color: #00000070;
}

.infoImg img {
  border-radius: 50%;
  width: 5%;
  margin-left: 3%;
}

.infoElements {
  padding-top: 1%;
}

.infoBox {
  background-color: blueviolet;
  height: 10%;
}

.userInfo {
  margin-left: -62%;
}

.buttons {
  margin-left: 75%;
}

.buttons button {
  height: 70%;
}

.answerButton {
}

.LinkButtons {
  margin-top: 10%;
}
.question {
  border: 2px solid blue;
  min-height: 20%;
}

.clearFix {
  height: 5%;
}
