.setting-Menu{
    position: relative;
    display: inline-block;
    background-color: #202c6699 !important;
    width:25%;
    height: 100%;
}
.setting-right{
    height: 100%;
    position: relative;
    width: 75%;
    display: inline-block;
    vertical-align:top;
}
.setting-Menu .nav-link{
    width: 100%;
}
.setting-Menu .nav-link:hover{
    background-color: royalblue;
}
.Setting-bg{
    height: 100vh;
    width: 100vw;
    background-image: url("../../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.empty-125{
    width: 0;
    background-color: #00000070;
}

*{
	box-sizing:border-box;
}

#container{
	width:260%;
	height:101%;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
    overflow:hidden;
    margin-left: -80%;
    

}

main{
  width: 100%;
  height: 80%;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main header{
	height:110px;
    padding:30px 20px 30px 40px;
    background-color: rgb(120, 87, 211);
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
 
    border-radius: 54%;
    margin-left: -17px;
    border: 51%;
}
main header img:last-child{
	width:36px;
    margin-top:-4%;
    margin-left: 96%;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#ffffff;
}
.bttn-pro{
    background:    #6fa8dc;
    border-radius: 14px;
    width:         150px;
    height:        55px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 29px/55px "Open Sans", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #000000;
}

