.infoImg {
  width: 7% !important;
}

.infoImg img {
  border-radius: 50%;
  width: 70%;
  margin-left: 15%;
}

.infoElements {
  padding-top: 1%;
}

.infoBox {
  background-color: #000753;
  height: 11vh;
}

.userInfo h2 {
  font-size: 20px;
}

.userInfo h3 {
  color: #9d9dd1;
}

.userInfo img {
  cursor: pointer;
  /* position: absolute; */
  width: 6%;
  transform: rotate(45deg);
  margin-top: 0.5%;
  margin-left: 5%;
}

.chatroomInfo-submiteAnswerButton {
  height: 60%;
  border-radius: 0px;
  border: none;
  background-color: #5c6bc0;
}
