body {
  margin: 0%;
  background-color: white;
}

body,
html {
  height: 100%;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

select {
  color: #844444;
  background: #b5b5d3;
}

button {
  background-color: #94d2ea;
  border: 0px;
  border-radius: 10px;
  height: 9%;
  width: 20%;
}

input:focus,
textarea:focus,
select:focus button:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #844444;
  opacity: 1; /* Firefox */
  text-align: center;
}

.elements {
  margin: auto;
  width: 72%;
}

.main-box {
  margin: auto;
  margin-top: 12%;
  width: 50%;
  height: 50vh;
  background: #93b4c3;
  overflow: auto;
  border: 6px solid #9a79ea;
  border-radius: 60px;
}

.chatroomAvatar {
  margin-left: 6%;
  margin-top: -14%;
}

.chatroomAvatar h3 {
  color: #f4dd58;
  margin-left: 26.5%;
  margin-top: 0.5%;
  font-size: 15px;
}

.chatroomAvatar img {
  width: 18%;
  border-radius: 50%;
  border: 2px solid #9a79ea;
  margin-top: 23%;
  margin-left: 32%;
  background: #9ba5a7;
}

.inputs {
  margin-top: -4%;
}

.nameField input {
  width: 74%;
  height: 4%;
  border-color: #9a79ea;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  outline: none;
  text-indent: 2%;
  border-bottom: 2px solid #9a79ea;
  margin-left: 7%;
  padding-bottom: 3%;
  padding-top: 3%;
  background: transparent;
  margin-top: 19%;
  margin-left: 11%;
}

.chatroomContext {
  margin-top: -3%;
}

.chatroomContext label {
  margin-left: 7%;
}

.chatroomContext select {
  margin-left: 1.5%;
  margin-top: 11%;
}

.description textarea {
  margin-top: 0%;
  background-attachment: local;
  background-image: linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 30px,
      #ccc 30px,
      #ccc 31px,
      white 31px
    );
  background-size: 100% 100%, 100% 100%, 100% 31px;
  line-height: 31px;
  font-family: Arial, Helvetica, Sans-serif;
  padding-left: 8%;
  padding-right: 8%;
  height: 41%;
  border: 3px solid #e50dff;
  border-radius: 60px;
}

.description:focus {
  outline: none;
}

/*OS*/

.osKinds {
  margin-top: 6%;
  margin-left: 0%;
}

.windows {
  margin-left: 15%;
  margin-top: -6%;
}

.windows img {
  width: 6%;
  margin-left: 1%;
}

.windows label {
  margin-left: 2%;
}

.linux {
  margin-left: 48%;
  margin-top: -7%;
}

.linux label {
  margin-left: 2%;
}

.linux img {
  width: 12%;
  margin-left: 1%;
}

.mac {
  margin-left: 79%;
  margin-top: -7%;
}

.mac img {
  width: 29%;
}

.mac label {
  margin-left: 2%;
}

.backButton {
  margin-left: -120%;
  margin-top: 12%;
}

.nextButton {
  margin-left: 117%;
  margin-top: 29%;
}

.createButton {
  margin-left: 90%;
}

.descriptionOs {
  margin-top: 8%;
}

/*app*/

.createButtonApp {
  margin-left: 90%;
}

.backButtonApp {
  margin-left: -120%;
  margin-top: 4%;
}

.descriptionApp textarea {
  margin-top: 0%;
  margin-left: 2%;
}

.descriptionApp {
  margin-top: 4%;
}

.descriptionApp h3 {
  margin-left: 10%;
}

.linkFieldApp input {
  width: 74%;
  height: 4%;
  border-color: #9a79ea;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  outline: none;
  text-indent: 2%;
  border-bottom: 2px solid #9a79ea;
  margin-left: 7%;
  padding-bottom: 3%;
  padding-top: 3%;
  background: transparent;
  margin-top: 3%;
  margin-left: 10%;
}

.linkFieldApp label {
  margin-top: 10%;
  margin-left: 16%;
}
