.LeftColumn{
    background-color: #141d48;
    position: relative;
    height: 100vh;
    width: 20%;
    display: inline-block;
}
.RightColumn{
    position: relative;
    width: 80%;
    display: inline-block;
    vertical-align:top;
}
.Chatroom{
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align:top;
}