.nav-pills .nav-link{
    border-radius: 0px;
}
.btn{
    border-radius: 0px;
    padding-right: 0px;
}
#profile {
    line-height: 500%;
    /* overflow: hidden; */
    /* border-radius: 0 0 20px 20px; */
    border-right: solid .25vh rgba(9, 156, 167, 0.432);
    border-bottom: solid .25vh rgba(9, 156, 167, 0.432);
    background-color: #141d48;
    /* transition: 0.3s height ease; */
  
}
#profile-img{
    width: 8vh;
    border-radius: 60%;
    border: 2px solid #e74c3c;
    /* margin: 0% 15%; */
    /* margin-left: 10%; */
    /* display: inline-block; */
}
#chatroom-img{
    width: 30px;
    border-radius: 60%;
    /* border: 2px solid #e74c3c; */
    /* margin-left: 10%; */
    /* display: inline-block; */
    /* margin-left: 5%; */
}
/* .tabs{
    height: 82vh;
} */
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.nav-link.active{
    background-color: #545f91fc !important;
}



.fix-height{
    display:table;
    height: 100%;
}
.align-top{
    display :table-row;
    height: 9vh;
}
.align-bottom{
    position: absolute;
    bottom: 0;
    display :table-row;
    height: 5vh;
}

.fill{
    display:table-row;
    
}
.fill div{
    max-height: 86vh;
    overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141d48;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(9, 156, 167, 0.432);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(8, 120, 128, 0.432);
}