.body {
    line-height: 1;
    background-color: #191154;
}
.rce-mbox {
    background: #4a4c9d !important;
    min-width: 200px;
    
}
.rce-mbox-left-notch {
    position: absolute;
    left: -14px;
    top: 0px;
    width: 15px;
    height: 15px;
    fill: #4a4c9d;

}
.rce-mbox-text{
    margin-bottom: 20px;
}
.rce-mbox-time{
    bottom: -22px !important;
}
.rce-smsg-text {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    
}
.rce-smsg {
    position: relative;
    background: #120a5e;
}
.rce-mbox-forward-right {
    display: flex;
    opacity: 0;
    visibility: hidden;
    right: -50px;
    background-color: #651070;
}
.rce-container-mbox {
    flex-direction: column;
    display: block;
    overflow-x: hidden;
    min-width: 200px;
    margin-top: 2%;
}
.rce-avatar-container.large {
    width: 45px;
    height: 45px;
    margin-top: 8%;
    margin-left: 7%;
}
.rce-mbox-reply.rce-mbox-reply-border {
    border-left: 5px solid;
    margin-top: 2%;
}
.rce-mbox-title--clear span{
    color: #ecb4ff;
    /* font-size: large; */
}
.rce-mbox-body{
    max-width: 60vw !important;
}