.navbar{
    color: white;
    height: 7vh;
    background-color: #141d48 !important;
    /* color: white !important; */
}
.navbar-brand{
    color: white;
}
.bg-light {
    background-color: #4b63b7 ;
}