.ProfilePreview-main-box {
  width: 35%;
  height: 75vh;
  background: #333b60;
  overflow: auto;
  border: 6px solid #5c6bc0;
  margin: 10% 10% 10% 28%;
}

.ProfilePreview-exitImg {
  width: 1.5%;
  position: absolute;
  margin-left: 32.5%;
  margin-top: 0.5%;
  cursor: pointer;
}

.ProfilePreview-elements {
  margin: 2%;
}

.ProfilePreview-profileImg {
  width: 25%;
  margin-top: 2%;
  padding: 0%;
  margin-left: 4%;
}

.ProfilePreview-profileImg img {
  border-radius: 50%;
  width: 100%;
}

.ProfilePreview-FirstName-LastName-email-userName {
  margin-left: 10%;
  margin-top: 5%;
  padding: 0%;
  font-size: 20px;
}

.ProfilePreview-email-userName p {
  margin-left: 0%;
  color: #9d9dd1;
}

.ProfilePreview-email-userName {
  font-size: 14px;
  color: #9d9dd1;
}

.ProfilePreview-personalDetail {
  margin-top: 8%;
  margin-left: 4%;
}

.ProfilePreview-personalDetail label {
  color: #9d9dd1;
  font-size: 16px;
}

.ProfilePreview-bio {
  /* color: black; */
}

.ProfilePreview-bioBox {
  width: 100%;
  min-height: 10vh;
  border-bottom: 1px solid #5c6bc0 !important;
  /* background-color: #c0bed4; */
  padding: 1%;
}

.ProfilePreview-personalDetail p {
  font-size: 18px;
}

.ProfilePreview-activity {
  width: 100%;
}
