@import url('https://fonts.googleapis.com/css?family=Roboto');

*{

margin: 10;
padding: 0;
box-sizing: border-box;
outline: none;
font-family: 'Roboto',sans-serif;
}

.profile{
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20PX;
}
.content-form{
    max-width: 105%;
    height: 100%;
    margin: 100 auto;
    
    padding: 1%;
    padding-top: 30%;
    padding-bottom: 55%;
    border-radius: 2%;
    display:flex ;
    box-shadow: 0 0 10px rgba(1, 3, 0, 0.13);
}
.INPUT-FORM{
    display: flex;
    flex-direction: column;
    margin-right: 10% ;
    margin-left: 5px;
    
    

}
.INPUT-FORM,
.msg textarea{

background: transparent;
border: 90%;
margin: -164px;
margin-left:56%;
padding: -13%;
color: #C5ECFD;
width: 40%;



}
.msg textarea{
    height: 300px;
}

::-webkit-input-placeholder{
    color:  #575252;
    
}
::-moz-input-placeholder{
    color: #575252;
    
}
::-ms-input-placeholder{
    color: #575252;
}
.btn{
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 0;
}

@media screen and (max-width:600px){
    .contact-form{
        flex-direction: column;

    }
    .msg textarea{
        height: 80px;
    }
    .INPUT-FORM,
    .msg{
        width: 100%;
        
    }
}



