@import url('https://fonts.googleapis.com/css?family=Roboto');

*{

margin: 10;
padding: 0;
box-sizing: border-box;
outline: none;
font-family: 'Roboto',sans-serif;
}



.profile{
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20PX;
}
.content-form1{
    width: 100%;
    height: 100%;
    border-radius: 2%;
    display:flex ;
    
}
.INPUT-FORM1{
    display: flex;
    flex-direction: column;
    
  
    
    

}
input{
    border-radius: 8px;
}
.INPUT-FORM1,
.msg textarea{

background: transparent;
border: 90%;
color: #000203;
width: 40%;



}
.msg textarea{
    height: 300px;
}

::-webkit-input-placeholder{
    color:  #575252;
    
}
::-moz-input-placeholder{
    color: #575252;
    
}
::-ms-input-placeholder{
    color: #575252;
}
.btn-pro{
    color: white;
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 0;
    border-radius: 8px;
}
.pro-error{
    color: red !important;
    font-size: smaller;
}
.pro-success{
    color: #00ff00 !important;
    font-size: smaller;
}

@media screen and (max-width:600px){
    .contact-form{
        flex-direction: column;

    }
    .msg textarea{
        height: 80px;
    }
    .INPUT-FORM1,
    .msg{
        width: 100%;
        
    }
}



