#Question{
    /* height: ; */
    border: solid 2px rgba(9, 156, 167, 0.432);
    background-color: #141d48;
}
#Question #header{
    background-color: #263fae38;
    height: 10vh;
}
#Question #footer{
    height: 6vh;
}
#Question #left{
    width: 10%;
}
#Question #middle{
    background-color: #263fae38;
    /* border: 2px; */
    border-radius: 5px;
    border-left: solid 2px white;
    /* background-color: cyan; */
    width: 88%;
}
#Question #right{
    width: 2%;
}
#Question #middle .show-more-less{

}
#Question #header #options .dropdown-toggle::after {
    display: none;
}
#Question #header #options .btn {
    border: none !important;
    background-color: #39b7dd00 !important;
    border-radius: 0px;
    padding-right: 0px;
}
#Question #header #options .btn:hover {
    color: cornflowerblue;
    border: none !important;
}
#Question #header #options .btn:focus{
    box-shadow: none !important;
}
#Question #header #profile{
    border: none !important;
    background-color: #263fae00;
    line-height: 500%;
}
#Question #header #profile #profile-img{
    width: 7vh;
    border-radius: 60%;
    border: 2px solid #e74c3c;
    /* margin: 0% 15%; */
    /* margin-left: 10%; */
    /* display: inline-block; */
}
/* #Question #left .checkbox{
    border-radius: 5px;
    background-color: #0062cc61;
    outline:none;
} */
#Question #left .active{
    background-color: green !important;
}
.blue-on-hover:hover{
    color: blue;
}

.checkbox{
    /* border: solid 1px white; */
    border-radius: 5px;
    background-color: #0062cc61;
    outline:none !important;
    background-color: green !important;
    fill: green !important;
}