#preview{
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover
}
#preview:hover {
    background-image: none !important;
    background-color: #141d48;
}
.select-btn{
    /* position: absolute;
    margin-top: 10%; */
    /* margin-left: 7.85%; */
    /* background-color: none; */
    /* top: 0%;
    left: 50%; */
}