djangorestframework_simplejwt==4.4.0
Django==3.1.2
djangorestframework==3.12.1
django-cors-headers==3.5.0


channels~=3.0.2
pip~=20.3.1
wheel~=0.36.1
cryptography~=3.3.1
Serializer~=0.2.1
lxml~=4.6.2
pytz~=2018.5
sqlparse~=0.4.1
asgiref~=3.2.10
Jinja2~=2.11.2
setuptools~=51.0.0
legacy~=0.1.6
PyJWT~=1.7.1
cffi~=1.14.4
Pillow~=8.0.1
attrs~=20.3.0
cssselect~=1.1.0
Werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
redis~=2.10.6
hiredis~=1.1.0
Twisted~=20.3.0
txaio~=20.4.1
six~=1.15.0
w3lib~=1.22.0
MarkupSafe~=1.1.1
automium~=0.2.6
parsel~=1.6.0
pyasn1~=0.4.8
Flask~=1.1.2
form~=0.0.1
Automat~=20.2.0
autobahn~=20.7.1
msgpack~=1.0.1
jmespath~=0.10.0
simplejson~=3.17.2
hyperlink~=20.0.1
idna~=2.10
pycparser~=2.20
constantly~=15.1.0
virtualenv~=20.0.35
distlib~=0.3.1
filelock~=3.0.12
appdirs~=1.4.4
incremental~=17.5.0
itemadapter~=0.2.0
django-crispy-forms~=1.9.2
daphne~=3.0.1